@import "fontawesome-all.min.css"; 

/* *** Dropdown *** */
#wrapper-viz .dropbtn {
    background-color: #F5F5F5; /* rgb(174, 201, 175); */
    padding: 20px 0px 20px 0;
    font-weight: bold;
    border: none;
    width: 11em;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-width: 13em;
}

/* Dropdown Content (Hidden by Default) */
#wrapper-viz .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
#wrapper-viz .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#wrapper-viz .dropdown {
    border: 1px solid gainsboro;    
}

/* Change color of dropdown links on hover */
#wrapper-viz .dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
#wrapper-viz .dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
#wrapper-viz .dropdown:hover .dropbtn {
    background-color:#c2dedc;
}
/* *** End Dropdown *** */

#wrapper-viz {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: left;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#wrapper-viz > header {
    display: grid;
    grid-template-columns: 7fr 2fr 2fr 2fr;
    width: 98.1%;
    background-color: rgb(225, 238, 236);
    border: 2px outset gainsboro;
    margin-left: .3em;
}

#wrapper-viz > header > .logo {
    align-self: center;
    font-weight: bold;
    padding-left: .7em;
    display: grid;
    grid-template-columns: 1fr 7fr;
}

#wrapper-viz > header > .logo a, #wrapper-viz > header > .logo a:visited {
    text-decoration: none;
    color:rgb(60, 84, 110);
}

#wrapper-viz > header > .logo a:hover {
    color: gray;
}

#wrapper-viz > header > .dropdown {
    align-self: right;
}

#wrapper-viz > header > .link {
    background-color: #F5F5F5; /* #d9deda;  rgb(174, 201, 175); */
    padding: 20px 16px 16px 16px;
    font-weight: bold;
    text-align: center;
    border: 1px solid gainsboro;
    min-width: 10em;
}

#wrapper-viz header .dropbtn i, #wrapper-viz header .link i {
    padding-left: 1em;
}

#wrapper-viz > header > .link-right {
    padding: 20px 20px 16px 16px; 
}

#wrapper-viz > header > .link > a, #wrapper-viz > header > .link > a:visited {
    color: black;
}

#wrapper-viz > header > .link:hover, 
#wrapper-viz > header > .link.selected, 
#wrapper-viz .dropdown .dropbtn.selected {
    background-color: #c2dedc; 
}

#wrapper-viz > main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 99.9%;
}

#wrapper-viz > header > .link > a {
    text-decoration: none;
}

#wrapper-viz > main.comparisons {
    display: grid;
    grid-template-columns: 830px;
}

#wrapper-viz > main > .home-content > h2, #wrapper-viz > main > .vizbox-container > h2 {
    color: teal;
}

#wrapper-viz > main > .vizbox-container {
    grid-column: 4;
    grid-row: 2 / 4; 
    -ms-grid-column: 4;
    -ms-grid-row: 2 / 4;
    background-color:#F5F5F5;
    padding: 4px 14px 14px 14px;
    margin: 1em 1em 0 .3em;
    border: 2px outset gainsboro;
}

#wrapper-viz > main.comparisons > .vizbox-container {
    background-color:#F5F5F5;
    margin: 1em 1em 0 .3em;
    border: 2px outset gainsboro;
    grid-row: 1;
    grid-column: 1;
}

#wrapper-viz  main .vizbox-container .vizbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-gap: 5px;
}

#wrapper-viz main .vizbox-container table {
    border: 1px solid gainsboro;
}

#wrapper-viz main .vizbox-container table tr { 
    font-size: .75em;
    background: #FFF;
}

#wrapper-viz main .vizbox-container table th { 
    background: #FFF;
}

#wrapper-viz main .vizbox-container table tr:nth-child(odd) {
    background: #F5F5F5;
}

#wrapper-viz main .vizbox-container table tr:nth-child(even) {
    background: #FFF;
}

#wrapper-viz > main > .vizbox-container > .vizbox > .viz {
    border: 1px solid #000000;
    margin: .5em;
    text-align: center;
}

#wrapper-viz > main > .vizbox-container > .vizbox > .viz img {
    width: 180px;
    padding: 4px;
}

#wrapper-viz > main > .vizbox-container > .vizbox > .viz:hover {
    border: .1em outset teal;
    margin: .45em .4em .5em .5em;
    cursor: pointer;
}

#wrapper-viz > main > .vizbox-container > .vizbox > .selected, #wrapper-viz > main > .vizbox-container > .vizbox > .selected:hover {
    border: 3px solid teal;
    margin: .45em .4em .5em .5em;
}

#wrapper-viz > main > .home-content {
    padding: 0 14px;
    grid-column: 1 / 3;
    grid-row: 2 / 7;  
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    background-color:#F5F5F5;
    margin: 1em 1em 0 .5em;
    border: 2px outset gainsboro;
}

#wrapper-viz > main > .home-content > img {
    width: 75%;
}

/* Hide large size font-awesome menu icons on large screens */
.dropdown .fa-2x, .link .fa-2x { display: none; }

#wrapper-viz > header > .logo > .description {
    padding-top: 2px;
    font-size: 1.1em;
    font-weight: normal;
    line-height: 1.3em;
}

#wrapper-viz > header > .logo > .description .name {
    font-size: 1.3em;
    font-weight: 450;
    color: #046161;
}

/* Media queries */
@media only screen and (min-width: 1400px) {
    #wrapper-viz .dropdown .dropbtn {
        min-width: 18em;
    }
}

@media only screen and (max-width: 1000px) {
    #wrapper-viz > header {
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-flow: column;
        grid-template-areas: 
            "head head head"
            "nav1 nav2 nav3";
    }
    #wrapper-viz > header > .logo {
        grid-area: head;
        line-height: 3em;
        max-width: 29em;
    }

    #wrapper-viz > header > .logo > .description {
        line-height: unset;
    }

    #wrapper-viz > header > .logo > .home {
        padding-top: 9px;
    }
 
    #wrapper-viz > header > .dropdown {
        font-size: .8em;
        grid-area: nav1;
    }

    #wrapper-viz .dropdown .dropbtn {
        width: 100%;
        min-width: unset;
    }

    #wrapper-viz .dropdown-content {
        top: 9.7em;
    }
   
    #wrapper-viz > header > .link {
        grid-area: nav2;
        min-width: unset;
        font-size: .8em;
        line-height: 1.4em;
    }

    #wrapper-viz > header > .link-right {
        grid-area: nav3;
    }
}

@media only screen and (max-width: 800px) {
    #wrapper-viz > main {
        display: block;
    }
    #wrapper-viz > main.comparisons {
        display: grid;
        grid-template-columns: 1fr;
    }
    #wrapper-viz > main > .home-content {
        background-color:rgb(225, 238, 236);
        display: inherit;
    }
    #wrapper-viz > main > .vizbox-container {
        background-color:rgb(225, 238, 236);
    }
}
@media only screen and (max-device-width: 667px) {
    #wrapper-viz > header > .logo > .description .name {
        font-size: 1.2em;
    }
    #wrapper-viz  main  .vizbox-container  .vizbox { 
        display: grid;
        grid-template-columns: 1fr;
    }

    #wrapper-viz header .text {
        display: none;
    }

    .dropdown .fa-2x, .link .fa-2x { display: inline; }

    #wrapper-viz header .dropbtn i, #wrapper-viz header .link i {
        padding-left: 0;
    }  
}
/* End media queries */